textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
select:focus,
select:active,
.btn:active,
.btn:focus,
.btn.active
{
    outline:none !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.btn-add {
    color: white;
    background-color: #269143;
    border-color: #269143;
}

.btn-add:hover {
    color: white;
    background-color: #2dad50;
    border-color: #2dad50;
}

.btn-cancel {
    color: #3d3d3d;
    background-color: #ededed;
    border-color: #ededed;
}

.btn-cancel:hover {
    color: white;
    background-color: #6c757d;
    border-color: #6c757d;
}

.icon-btn-add {
    cursor: pointer;
    color: #26B99A;
}

.icon-btn-remove {
    cursor: pointer;
    color: #D50000;
}

.icon-btn-edit {
    cursor: pointer;
    color: #FFBF00;
}